body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
}

.chat-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.chat-header {
    background-color: #560aa3;
    color: white;
    padding: 10px;
    text-align: center;
}

.chat-box {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #f9f9f9;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.input-container {
    display: flex;
    padding: 10px;
    background-color: #fff;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #1a1818;
    border-radius: 5px;
    box-sizing: border-box;
    margin-right: 10px;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #7032ae;
    outline: none;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #7322c4;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

button i {
    font-size: 16px;
}

.message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    max-width: 70%;
    position: relative;
}

.message .timestamp {
    font-size: 0.75rem;
    color: #888;
    margin-top: 5px;
    display: block;
}

.user-message {
    background-color: #ff0037;
    color: white;
    align-self: flex-end;
    border-top-right-radius: 0;
}

.bot-message {
    background-color: #f1f1f1;
    color: #333;
    align-self: flex-start;
    border-top-left-radius: 0;
}
